.Header__container {
    background-color: #131921;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: nowrap;
}

.logo {
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 20px;
}

.Header__localisation {
    display: flex;
    color: white;
}

.Header__localisationText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.Header__placeIcon{
    align-self: flex-end;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
    font-size: 10px;
}
.Header__searchBar{
    display: flex;
    flex: 0.9;
}
.search_input{
    flex:1;
}
.Header__dropDown{
    background-color: #f3f3f3;
    color: #696B69;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
}
select option {
    color: black;
    background-color: white;
    font-size: 16px;
}
.icon_search{
    height: 30px !important;
    width: 30px!important;
    padding: 5px;
    background-color: #cd9042;
}
.Header__option{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-wrap: nowrap;

}
.option__firstline{
    font-size: 12px;
}
.option__secondline{
    font-weight: bold;
    font-size: 15px;
}
.Header__cartIcon {
    color: white;
}
.ComptelisteArrow__container{
    display: flex;
}
.Header__model{
    background-color: white;
    color: black;
    display: none;
    padding: 20px;
    position: absolute;
    top:57px;
    right: 160px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.model__verticalline{
    border-left: 0.1px solid #e0e0e0;
    height: 140px;
    margin-right: 10px;
}
.model__footer{
    display: flex;
    justify-content: space-around;
}
.model__sectionOptions{
    font-size:13px ;
    color: #696B69;
}
.model__sectionOptions > div {
    margin-bottom: 10px;
}
.Header__dropDownOption:hover .Header__model{
    display: flex;
}
.Header__dropDownOption:hover{
    cursor: pointer;
}
.model__button{
    background-color: #F0C14B;
    padding: 8px 70px ;
    border: none;
    width: fit-content;

}
.line_break{
    display: block;
    width:320px;
    height: 5px;
    border: none;
    border-bottom: 0.1px solid #e0e0e0;
    margin-bottom: 20px;
}
.lineAndTextContainer{
    display: flex;
}
.model__firstSection{
    margin-right: 50px;
}
.NouveauClient{
    color: rgb(99, 99, 99);
    font-size: 10px;
}
.model__sectionHeader{
    font-size: large;
    font-weight: bold;
    color: black;
}